$color-bg-main-page: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$active-menu-below: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$title-sect-3-grad: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$br-radius-12px: 0px 0px 12px 12px;
$br-radius-8px: 8px;
$hover-red-color: #F0145A;
$text-white: #FFFFFF;
$text-blue: #24A3FF;
$text-blue-hover: #0085FF;
$color-006ccf: #006CCF;
$color-b3b3ba: #B3B3BA;
$color-e6e6f0: #E6E6F0;
$color-cacadb: #CACADB;
$color-e7e7f2: #E7E7F2;
$color-bg-f5f5fa: #F5F5FA;
$color-323264: #323264;
$color-46466e: #46466E;
$color-mini-header-line: rgba(255, 255, 255, 0.2);
$color-sect-2-line: rgba(255, 255, 255, 0.3);
$color-logo-1: #1C4280;
$color-logo-2: #143646;
$color-logo-3: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
$color-logo-4: #9E4DC3;
$color-logo-5: #FD9339;
$color-logo-6: #E2E2E4;
$color-logo-7: #C71C36;
$color-logo-8: #DCF3F9;
$color-logo-9: #EAEAEA;
$color-logo-10: #282240;
$color-logo-11: #1D4568;
$color-logo-12: #000000;
$text-shadow-team: rgba(40, 40, 86, 0.8);
$btn-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
$popup-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
